.bloop
.bsp
.idea
.metals
.vscode
*.bak
out
db
greybox_tmp
incremental_db
output_files
build_id.v
c5_pin_model_dump.txt
jtag.cdf
*.qws
*.qdf
quartus/*.qws
quartus/*.qdf
quartus/build_id.v
quartus/c5_pin_model_dump.txt
quartus/db
quartus/greybox_tmp
quartus/incremental_db
quartus/jtag.cdf
quartus/output_files
quartus/rtl/cave/Cave.fir
test_run_dir
.DS_Store
nvram/
