.bloop
.bsp
.idea
.metals
.vscode
out
project/target
quartus/*.qws
quartus/*.qdf
quartus/build_id.v
quartus/c5_pin_model_dump.txt
quartus/db
quartus/greybox_tmp
quartus/incremental_db
quartus/jtag.cdf
quartus/output_files
quartus/rtl/Main.*
test_run_dir
