name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

env:
  tabby-cad-version: 2025-11-22

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Install Verilator (OSS CAD Suite)
        shell: bash
        run: |
          VERSION=${{ env.tabby-cad-version }}
          ARTIFACT=oss-cad-suite-linux-x64-$(echo $VERSION | tr -d '-')
          wget -q -O - https://github.com/YosysHQ/oss-cad-suite-build/releases/download/${VERSION}/${ARTIFACT}.tgz | tar -zx
          echo "$(pwd)/oss-cad-suite/bin" >> $GITHUB_PATH
      - name: Units tests
        run: ./bin/mill _.test
